.ticket-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.ticket-top-section {
	max-width: 100%;
}

.ticket-bottom-section {
	max-width: 100%;
	height: 200px;
	background-color: rgb(8, 51, 15);
	border-top: 2px dashed rgb(154, 204, 15);

}
