body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: radial-gradient(
			52.52% 32.71% at 50% 97.66%,
			rgba(36, 160, 181, 0.2) 0%,
			rgba(36, 160, 181, 0) 100%
		),
		var(--background-color);
	color: var(--white);
	min-height: 100vh;
}

.active {
	color: red;
}
